
.card_skeleton_container {
    margin: 0px 10px;
    .image_skeleton {
        width: 300px;
        height: 280px;
    }
    
    .header {
        margin-top: 5px;
    width: 300px;
    height: 40px;
    }
    
    .body {
        margin-top: 5px;
        width: 300px;
        height: 20px;
    }
    



}